
* {
    padding: 0;
    box-sizing: border-box;
}


h1 {
    color: red;
}

.main_header {
     width: 100vw;
     height: 100vh;
     display: grid;
     place-items: center;
     justify-content: center;    
}